<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1 th:text="${title}"></h1>
    <p th:text="${description}"></p>
    <ul>
        <li>Name: <span th:text="${name}"></span></li>
        <li>Last Name: <span th:text="${lastname}"></span></li>
        <li>Name: <span th:text="${user.name}"></span></li>
        <li>Last Name: <span th:text="${user.lastname}"></span></li>
        <li>User: <span th:text="${user}"></span></li>
    </ul>
<a th:href="@{/listUsers}">Ver Usuarios</a>
<br>
<a th:href="@{'/api/request-params/foo?param=' + ${title}}">Ver Mensaje</a>
<br>
<a th:href="@{/api/request-params/foo?param=Hola enviando parametros desde un html}">Mensaje desde HTML</a>
<br>
<a th:href="@{/api/request-params/foo(param='Esta es otra forma de enviar parametros desde un html')}">Mensaje HTML</a>
<br>
<a th:href="@{/api/request-params/fooTwo(text='Enviando dos parametros desde un html', code=951357)}">Dos parametros desde HTML</a>
</body>
</html>