<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1 th:text="${title}"></h1>
    <p th:text="${description}"></p>
    <ul>
        <li>Name: <span th:text="${name}"></span></li>
        <li>Last Name: <span th:text="${lastname}"></span></li>
        <li>Name: <span th:text="${user.name}"></span></li>
        <li>Last Name: <span th:text="${user.lastname}"></span></li>
        <li>User: <span th:text="${user}"></span></li>
    </ul>

</body>
</html>